################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Authentication.Avipes/bin/Debug/net9.0
/Authentication.Avipes/obj
/Authentication.slnLaunch.user
/Authentication.Avonyu/bin/Debug/net9.0
/Authentication.Avonyu/obj
