################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Authentication.Avipes/bin/Debug/net9.0
/Authentication.Avipes/obj
/Authentication.slnLaunch.user
/Authentication.Avonyu/bin/Debug/net9.0
/Authentication.Avonyu/obj
/Authentication.Behind/bin/Debug/net9.0
/Authentication.Behind/obj
/Authentication.Beyond/bin/Debug/net9.0
/Authentication.Beyond/obj
/Authentication.Bizlyn/bin/Debug/net9.0
/Authentication.Bizlyn/obj
/Authentication.Blake/bin/Debug/net9.0
/Authentication.Blake/obj
/Authentication.Blue/bin/Debug/net9.0
/Authentication.Blue/obj
/Authentication.Cyploy/bin/Debug/net9.0
/Authentication.Cyploy/obj
/Authentication.Lingerolf/bin/Debug/net9.0
/Authentication.Lingerolf/obj
/Authentication.Luneita/bin/Debug/net9.0
/Authentication.Luneita/obj
/Authentication.Mavidadi/bin/Debug/net9.0
/Authentication.Mavidadi/obj
/Authentication.Mecramix/bin/Debug/net9.0
/Authentication.Mecramix/obj
/Authentication.Mikeinza/bin/Debug/net9.0
/Authentication.Mikeinza/obj
/Authentication.Mixoga/bin/Debug/net9.0
/Authentication.Mixoga/obj
/Authentication.Miylo/bin/Debug/net9.0
/Authentication.Miylo/obj
/Authentication.Mytra/bin/Debug/net9.0
/Authentication.Mytra/obj
/Authentication.Natilus/bin/Debug/net9.0
/Authentication.Natilus/obj
/Authentication.Newsportix/bin/Debug/net9.0
/Authentication.Newsportix/obj
/Authentication.Phayex/bin/Debug/net9.0
/Authentication.Phayex/obj
/Authentication.Philika/bin/Debug/net9.0
/Authentication.Philika/obj
/Authentication.Universe/bin/Debug/net9.0
/Authentication.Universe/obj
/Authentication.Twinfoots/bin/Debug/net9.0
/Authentication.Twinfoots/obj
/Authentication.Semtinal/bin/Debug/net9.0
/Authentication.Semtinal/obj
/Authentication.Setlirs/bin/Debug/net9.0
/Authentication.Setlirs/obj
/Authentication.ThemeHospital/bin/Debug/net9.0
/Authentication.ThemeHospital/obj
